h1, h2, h3, #idHeaderAssociationName, .home_promo_title, #landing .item .title p {
  font-family: "News Cycle", sans-serif;
  font-weight: normal;
  text-shadow: 0 0 0.4px rgba(0, 0, 0, 0.3);
  -webkit-text-stroke: 0.25px;
}
h1, #idHeaderContent h1, #idPrimaryContentBlock1Content h1, #idFooterContent h1 {
  font-size: 2.5em;
  font-weight: normal;
  letter-spacing: 2px;
  margin: 0;
}
#idPrimaryContentBlock1Content h1.dark {
  color: #333;
}
#idPrimaryContentBlock1Content h1.light {
  color: #eee;
}
h2, #idHeaderContent h2, #idPrimaryContentBlock1Content h2, #idFooterContent h2 {
  color: #333;
  font-size: 2em;
  font-weight: normal;
  margin: 0;
}
h3, #idHeaderContent h3, #idPrimaryContentBlock1Content h3, #idFooterContent h3 {
  color: #333;
  font-size: 1.75em;
  font-weight: normal;
  margin: 0 0 10px 0;
}
body, p, td, li {
  font-size: 12pt;
}
TABLE.pageLayoutTwo2-1Columns TD.pageLayoutLeftOuterContainer {
  padding: 0 140px 40px 0;
  width: 580px;
}
TABLE.pageLayoutTwo2-1Columns TD.pageLayoutRightOuterContainer {
  padding: 0 0 40px 0;
  width: 220px;
}
TABLE.pageLayoutTwo2-1Columns TD.pageLayoutRightOuterContainer p {
  font-size: .9em;
  margin: 0 0 40px;
}
.pageLayoutOuterContainer table {
  border-spacing: 0;
}
.pageLayoutOuterContainer table th {
  background-color: #eee;
  border: solid 1px #eee;
  padding: 10px;
}
.pageLayoutOuterContainer table td {
  border: solid 1px #eee;
  padding: 10px;
 }
a,
a:link,
a:active,
a:visited,
a:hover {
	color: #d01d00;
	text-decoration: none;  
	overflow: hidden;
}
#idHeaderAssociationName {
	color: #666;
	font-size: 200%;
}
#login {
  color: #d01d00;
  position: absolute;
  right: 10px;
  top: 0;
  z-index: 100;
}
#idGeneralLoginBox {
  display: none;
}
.addthis_toolbox {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 90px;
}
#idMainMenu td a,
#idMainMenu td a:link,
#idMainMenu td a:active,
#idMainMenu td a:visited,
#idMainMenu td a:hover,
#idMainMenu td span span {
	display: block;
	height: 1.1em;
	margin: 0;
	padding: 5px;
	background-color: transparent;
	font-size: 1.8em;
	font-weight: normal;
	color: #d01d00;
	text-align: left;
	text-decoration: none;  
	overflow: hidden;
	white-space: nowrap;
	vertical-align: middle;
	/ display: inline-block;
	/ margin-right: 0;
	/ padding-right: 5px;
	font-family: "News Cycle", sans-serif;
	-webkit-text-stroke: 0.25px;
	text-shadow: 0 0 0.4px rgba(0, 0, 0, 0.3);
}
#idMainMenu TD A:hover,
#idMainMenu TD.itemNormal:hover A,
#idMainMenu TD.itemCurrentParent A:hover {
  background-color: #d01d00;
  color: White;
  font-family: "News Cycle", sans-serif;
}
#idMainMenu TABLE TD.item UL.dynamic LI A,
#idMainMenu TABLE TD.item UL.dynamic LI A:link,
#idMainMenu TABLE TD.item UL.dynamic LI A:active,
#idMainMenu TABLE TD.item UL.dynamic LI A:visited,
#idMainMenu TABLE TD.item UL.dynamic LI A:hover,
#idMainMenu TABLE TD.itemNormal:hover UL.dynamic LI A,
#idMainMenu TABLE TD.itemNormal:hover UL.dynamic LI A:link,
#idMainMenu TABLE TD.itemNormal:hover UL.dynamic LI A:active,
#idMainMenu TABLE TD.itemNormal:hover UL.dynamic LI A:visited,
#idMainMenu TABLE TD.itemNormal:hover UL.dynamic LI A:hover {
  background-color: White;
  color: #d01d00;
  font-family: "News Cycle", sans-serif;
  font-size: 1.5em;
  opacity: .9;
}
#idMainMenu TABLE TD.itemNormal:hover UL.dynamic LI.itemNormal:hover A,
#idMainMenu TABLE TD.itemNormal:hover UL.dynamic LI A:hover,
#idMainMenu TABLE TD.itemNormal TABLE.dynamic UL.dynamic LI A:hover {
  background-color: #d01d00;
  color: White;
  font-family: "News Cycle", sans-serif;
  font-size: 1.5em;
  opacity: .9;
}
#idMainMenu TABLE TD.itemNormal UL.dynamic {
  background-color: White;
  opacity: .9;
}
#idMainMenu TD.itemCurrentParent A,
#idMainMenu TD.itemCurrentParent A:link,
#idMainMenu TD.itemCurrentParent A:active,
#idMainMenu TD.itemCurrentParent A:visited,
#idMainMenu TD SPAN SPAN {
  color: #333;
}
#idMainMenu TD.itemCurrentParent:hover A,
#idMainMenu TD.itemCurrentParent:hover A:link,
#idMainMenu TD.itemCurrentParent:hover A:active,
#idMainMenu TD.itemCurrentParent:hover A:visited {
  color: White;
}
.footer_menu a,
.footer_menu a:link,
.footer_menu a:active,
.footer_menu a:visited,
.footer_menu a:hover {
	font-size: 1.25em;
	color: #d01d00;
	text-decoration: none;  
	overflow: hidden;
	font-family: "News Cycle", sans-serif;
	-webkit-text-stroke: 0.25px;
	text-shadow: 0 0 0.4px rgba(0, 0, 0, 0.3);
}
#idMainMenu TD.separator SPAN {
	display: none;
}
.menuLevel2Outer {
  display: none;
}
TABLE#idPageLayoutMainContainer .pageLayoutTitleOuterContainer,
TABLE.pageLayoutTopAndBottomRowsPlusThreeColumns TD.pageLayoutThreeColumsContainer,
TABLE.pageLayoutTopAndBottomRowsPlusThreeColumns TD.pageLayoutThreeColumsContainer,
TABLE.pageLayoutTopAndBottomRowsPlusThreeColumns TD.pageLayoutTopRowOuterContainer {
	padding-bottom: 0;
	padding-top: 0;
}
.cycle-slideshow {
	position: relative;
	width: 940px;
	height: 340px;
	overflow: hidden;
	margin: 0 10px;
	padding: 0;
}
.home_promo {
	margin: 40px auto 0;
	width: 220px;
}
.home_promo_title {
	background-color: #eee;
	padding: 10px;
	margin: 0;
	font-size: 1.4em;
}
.home_promo img {
	line-height: 1em;
}
.home_promo_copy {
	margin: 10px 0;
	font-size: 1em;
}
a.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f) );
	background:-moz-linear-gradient( center top, #f24537 5%, #c62d1f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f');
	background-color:#f24537;
	-webkit-border-top-left-radius:15px;
	-moz-border-radius-topleft:15px;
	border-top-left-radius:15px;
	-webkit-border-top-right-radius:15px;
	-moz-border-radius-topright:15px;
	border-top-right-radius:15px;
	-webkit-border-bottom-right-radius:15px;
	-moz-border-radius-bottomright:15px;
	border-bottom-right-radius:15px;
	-webkit-border-bottom-left-radius:15px;
	-moz-border-radius-bottomleft:15px;
	border-bottom-left-radius:15px;
	text-indent:0;
	border:1px solid #d02718;
	display:inline-block;
	color:#ffffff;
	font-family: Verdana, sans-serif;
	font-size:14px;
	font-weight:bold;
	font-style:normal;
	height:40px;
	line-height:40px;
	width:110px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #810e05;
}
.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537) );
	background:-moz-linear-gradient( center top, #c62d1f 5%, #f24537 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537');
	background-color:#c62d1f;
}
.button:active {
	position:relative;
	top:1px;
}
.home_promo .button {
	float: right;
}
#banner {
  padding: 0 0 0 10px;
  position: relative;
}
.upper-left { 
   position: absolute; 
   top: 5px; 
   left: 25px; 
}
.upper-right {
   position: absolute; 
   top: 5px; 
   right: 25px; 
}
.lower-left {
   position: absolute; 
   bottom: 10px; 
   left: 25px; 
}
.lower-right {
   position: absolute; 
   bottom: 10px; 
   right: 25px; 
}
#landing #about {
  background-color: #eee;
  float: left;
  height: 200px;
  padding: 10px;
  margin: 20px;
  width: 180px;
}
#landing .item {
  float: left;
  margin: 20px;
  width: 200px;
}
#landing .item .title {
  background-color: #eee;
  height: 70px;
  position: relative;
}
#landing .item .title p {
  bottom: 0;
  padding: 10px;
  position: absolute;
  margin: 0;
  font-size: 1.4em;
}
.gallery_image {
  float: left;
  margin: 40px;
  width: 400px;
}
.footer {
	width: 960px;
}
.footer_row {
	clear: both;
}
.footer_row p {
	text-align: center;
}
.footer_menu {
	background-color: #eee;
	padding: 10px;
	float: left;
	margin: 0 50px;
	width: 200px;
}
.footer_menu ul {
	margin: 0;
	padding: 0;
}
.footer_menu li {
	list-style-type: none;
}
.footer_menu li li {
	list-style-type: disc;
	margin-left: 15px;
}
.footer_logo {
	float: left;
	margin: 40px 50px;
	width: 220px;
}
.footer_logo img {
	display: block;
    margin-left: auto;
    margin-right: auto;
}