.jcarousel-wrapper {
	position: relative;
	width: 940px;
}

.jcarousel-wrapper .photo-credits {
	position: absolute;
	right: 15px;
	bottom: 0;
	font-size: 13px;
	color: #fff;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.85);
	opacity: .66;
}

.jcarousel-wrapper .photo-credits a {
	color: #fff;
}

/** Carousel **/

.jcarousel {
	position: relative;
	overflow: hidden;
	width: 940px;
	height: 340px;
}

.jcarousel ul {
	width: 20000em;
	position: relative;
	list-style: none;
	margin: 0;
	padding: 0;
}

.jcarousel li {
	float: left;
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
	position: absolute;
	top: 292px;
	width: 50px;
	height: 38px;
	text-align: center;
	opacity: .5;
}

.jcarousel-control-prev {
	left: 10px;
}

.jcarousel-control-next {
	right: 10px;
}

.jcarousel-control-prev:hover span,
.jcarousel-control-next:hover span {
	display: block;
}

.jcarousel-control-prev.inactive,
.jcarousel-control-next.inactive {
	opacity: .25;
	cursor: default;
}

/** Carousel Pagination **/

.jcarousel-pagination {
	position: absolute;
	bottom: 0;
	left: 400px;
}

.jcarousel-pagination a {
	text-decoration: none;
	display: inline-block;
	font-size: 11px;
	line-height: 14px;
	min-width: 14px;
	background: #fff;
	color: #fff;
	border-radius: 14px;
	padding: 3px;
	text-align: center;
	margin-left: 10px;
	margin-bottom: 10px;
	opacity: .75;
}

.jcarousel-pagination a.active {
	background: #999;
	color: #999;
	opacity: .75;
}